* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d1c9c9;
    
}

section {
    width: 100vw;
    padding: 1rem 5vw;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
  }
  
  
header.design-one {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 10vw;
    background: #ffffff;
  
    & > img.company-logo {
      height: 50px;
    }
  
    & > nav.navigation {
      display: flex;
      align-items: center;
      gap: 1rem;
  
      & > a.navigation-content {
        font-weight: 600;
        font-size: 1.1rem;
        color: black;
      }
    }
}

header.design-two {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 10vw;
    background: #000000;
  
    & > img.company-logo {
      height: 100px;
    }
  
    & > nav.navigation {
      display: flex;
      align-items: center;
      gap: 1rem;
  
      & > a.navigation-content {
        font-weight: 600;
        font-size: 1.1rem;
        color: #ffffff;
        border: 1px solid white;
        font-style: italic;
      }
    }
}

header.design-three {
    border-radius: 50px;
    width: 100vw;
    display: flex;
    /* justify-content: space-around; */
    padding: 0.7rem 10vw;
    background: #ffffff;
    border: #000000;
    
header.another {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    border-color: #000000;
    padding: 0.5rem 10vw;
    border-radius: 50px;



    & > img.company-logo {
        height: 100px;
        justify-content: flex-start;
        margin-right: 70px;
        padding-right: 35%;
        /* outline: 3px dotted red; */
    }
    
    & > nav.navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end
        text-align: right;
        gap: 1rem;
      
      & > a.navigation-content {
        font-weight: 600;
        font-size: 1.1rem;
        color: #000000;
        
        
      }
    }
}
}

